* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: #454545;
  color: #fff;
}
h1 {
  font-family: 'Arial', sans-serif; /* Modern sans-serif font */
  font-size: 3em; /* Large font size */
  color: #ffffff; /* White color for text */
  text-align: center; /* Center alignment */
  text-transform: uppercase; /* Uppercase letters */
  letter-spacing: 2px; /* Spacing between letters */
  margin-top: 20px; /* Margin at the top */
  padding: 10px; /* Padding for inner spacing */
  background: linear-gradient(135deg, #2c3e50, #34495e); /* Subtle gradient background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
}

.container {
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: flex;
}
.left,
.right {
  flex-basis: 50%;
  padding: 10px;
}
textarea {
  width: 100%;
  height: 28%;
  background: #1f1f1f;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  outline: 0;
  font-size: 18px;
}
iframe {
  width: 100%;
  height: 95%;
  background: #fff;
  border: 0;
  outline: 0;
}
label i {
  margin-right: 10px;
  margin-left: 10px;
}
label {
  display: flex;
  align-items: center;
  background: #000;
  height: 30px;
  color: aqua;
}
